HTTP: improve generation of links in docblocks

- [ ] convert links for `webconcepts.info` from HTTP to HTTPS
- [ ] improve labels for links to `wicg.github.io` domain
- [ ] improve labels for links to `docs.oasis-open.org` domain
- [ ] improve labels for links to `w3.org` domain
- [ ] Prevent generation of `Documentationundefined` label for URI fragments that don't match regex pattern
- [ ] Make `Documentation` and `Specification` links have consistent labels when both link to IETF RFCs. Example below shows how the doc link includes "IETF RFC", but the spec link just includes "RFC".

```ts
/**
 * An application server MUST include the TTL (Time-To-Live)
 * header field in its request for push message delivery. The
 * TTL header field contains a value in seconds that suggests
 * how long a push message is retained by the push service.
 *
 * @see [Documentation → IETF RFC 8030 §5.2](https://datatracker.ietf.org/doc/html/rfc8030#section-5.2)
 * @see [Specification → RFC 8030](http://webconcepts.info/specs/IETF/RFC/8030)
 */
export type HttpHeaderTTL = 'TTL';
```